.bodyPaddingTop {
	padding-top: 113px;
}

.dropdown-menu{
  right: auto;
}

label.error {	
	color: red;
	font-style: italic;
  font-size: 90%;
}

.popover {
	top: 67px;
	left: 560px;
	display: block;
	right: auto;
}
