{% extends "base.html" %}

{% block navbarList %}
    <li><a href="/addFolder/{{dept_id}}">إضافة مجلد</a></li>
    <li class="active"><a href="/addArchive/{{dept_id}}">الارشـيف</a></li>
    <li><a href="/department/{{dept_id}}">قـسم</a></li>
{% endblock %}

{% block departmentName %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <nav class="navbar navbar-default">
                    <p class="h3"><strong>{{departmentName.name}}</strong></p>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block table %}
<div class="  col-md-6 col-sm-6   ">
   <div class="panel panel-default">
      <div class="panel-heading">
         <div class="row">
            <div class="  col-md-3 col-sm-3 col-xs-3  ">
               <font size="4" ></font>
            </div>
            <div class="  col-md-8 col-sm-8 col-xs-8  ">
               <font size="6" >إضافـــــة أرشيــــف </font>
            </div>
        </div>
    </div>
    <br>
    <form class="form-horizontal" id="form" action="/insertArchive/" method="post"  enctype="multipart/form-data">{% csrf_token %}

      <div class="form-group">
        <label class="col-sm-4 control-label">إســـم اﻷرشيف</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="name" id="name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">الرقم اﻹشاري</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="ref_num" id="ref_num">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">تاريخ اﻹصدار</label>
        <div class="col-sm-6">
          <div class="form-group">
        <div class='input-group date' id='datetimepicker5'>
          <!-- data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" -->
          <input type='text' class="form-control" data-date-format="YYYY/MM/DD" name="real_date" id="real_date"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      </div>
    </div>
      
      <div class="form-group">
        <label class="col-sm-4 control-label">المجلد</label>
        <div class="col-sm-6">
          <select class="form-control" name="section_id" id="section_id">
            {% for sectidon in list %}
                <option value="{{sectidon.id}}">{{sectidon.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">ملاحظات</label>
        <div class="col-sm-6">
          <textarea class="form-control" rows="3" name="text" id="text"></textarea>
        </div>
      </div>
            
      <!-- test -->
      <div class="form-group">
        <label class="col-sm-4 control-label">الملحقات</label>
            <div class="contacts col-sm-6">
                <label>إصافة ملف :</label>
                    <div class="form-group multiple-form-group input-group file">
                        <input type="file" name="file[]" class="form-control" >
                        <input type="text" name= "file_name[]" class="form-control" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-add">+</button>
                        </span>
                    </div>
                </div>
            </div>
      </div>
      <!-- test -->

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">حفـــظ</button>
        </div>
      </div>

    </form>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
{% block buttonList %}{% endblock %}
{% block search %}{% endblock %}
{% block addFolder %}{% endblock %}

{% block script %}
  <script src = "/static/js/jquery-1.11.1.min.js"></script>
  <script src = "/static/js/bootstrap.min.js"></script>
  <script src = "/static/js/bootstrap-editable.min.js"></script>
  <script src = "/static/js/jquery.validate.min.js"></script>
  <script src = "/static/js/script_nav.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
  <script src = "/static/js/Multiple.js"></script>
  <script src = "/static/js/addArchive.js"></script>
{% endblock %}
