{% extends "base.html" %}
{% block search %}{% endblock %}
{% block addFolder %}{% endblock %}

{% block departmentName %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <nav class="navbar navbar-default">
                    <p class="h3"><strong>{{departmentName.name}}</strong></p>
                </nav>
            </div>
        </div>
    </div>
     <div class='row hidden' id="massege" >
        <div class='col-md-8 col-md-offset-2'>
            <div class="panel-body">
                <p class="alert alert-danger text-center">ﻻتستطيع مسح هذا المجلد اﻻ ان يتم مسح كافة الارشيف الموجوده به</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block navbarList %}
    <li class="active"><a href="/addFolder/{{dept_id}}">إضافة مجلد</a></li>
    <li><a href="/addArchive/{{dept_id}}">الارشـيف</a></li>
    <li><a href="/department/{{dept_id}}">قـسم</a></li>
{% endblock %}

{% block table %}	
    <div class="  col-md-6 col-sm-6   ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="  col-md-3 col-sm-3 col-xs-3  ">
                        <font size="4" >
                            المجلدات 
                        </font>
                    </div>
                    <div class="  col-md-9 col-sm-9 col-xs-9 ">
                        <a href="#addSection" role="button" data-toggle="modal" class="btn btn-success">
                            إضافة مجلد
                        </a>
                    </div>
                </div>
            </div>
            <table class="table" id="section" >
                <tr>
                    <th id="name">الاسـم </th>
                    <th id="edit">تعديل</th>
                    <th id="delete">حذف</th>
                </tr>
                {% for sectn in sections %}
                <tr data-id="{{sectn.id}}">
                    <td headers="name" >
                         <a id="section{{sectn.id}}" href="#" data-type="text" data-pk="{{sectn.id}}" data-title="تغيير إسم المجلد" data-value="{{sectn.name}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"> {{sectn.name}}</a>
                    </td>
                    <td headers="edit">
                    	<button type="button" class="btn btn-xs btn-primary" id="enable"> 
                    		<span class="glyphicon glyphicon-eye-open"></span>
                    	</button>
                    </td>
                    <td headers="delete">
                    	<button id="delete" href="#del" data-toggle="modal" value="{{sectn.id}}" class="btn btn-xs btn-danger pull-right">
                    		<span class="glyphicon glyphicon-trash"></span>
                    	</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
<!-- modal2 -->
    <div id="del" data-width="760" role="dialog" aria-labelledby="myModalLabel" tabindex="-1" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-headr modal-header-danger">
                    <p class="h1">هل أنت متأكد من  حدف ؟</p>
                </div>
                <div class="modal-body">
                    <p class="h2">هل انت متأكد </p>
                    <p> </p>
                </div>
                <div class="modal-footer">
                    <button id="confdelete" type="button" data-dismiss="modal" class="btn btn-danger" value="">
                        حدف
                    </button>
                    <button data-dismiss="modal" type="button" class="btn btn-success">
                        إلغاء
                    </button>
                </div>
            </div>
        </div>
    </div>
<!-- endmodal2 -->
{% block pagination %}
    <nav pull-center>
        <ul class="pagination">
            <li> 
                {% if sections.has_previous %} 
                <a  href="?page={{ section.previous_page_number }}" aria-label="Previous">
                {% endif %} 
                <span>&laquo;</span>
                </a>
            </li>
            {% for i in sections.paginator.page_range %}
            <li>
                {% if sections.number == i %}
                <li class="active">
                {% endif%}
                <a href="?page={{i}}">
                    {{i}} 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
           {% endfor %}
            <li>
                {% if sections.has_next %}
                <a href="?page={{section.next_page_number}}" aria-label="next">
                    {% endif %}
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav> 
{% endblock %} <!-- end of block pagination-->
    </div>
{% endblock %}

{% block modalAddFolder %} 
<div id="addSection" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">
                    إضافة مجلد
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" id="form" action="/addSection/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="dept_id" value="{{dept_id}}"> 
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-sm" placeholder="اسم المجلد" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"value="">
                    </div>
                    <input type="submit" value="إضـــــافة" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src = "/static/js/jquery-1.11.1.min.js"></script>
    <script src = "/static/js/bootstrap.min.js"></script>
    <script src = "/static/js/bootstrap-editable.min.js"></script>
    <script src = "/static/js/jquery.validate.min.js"></script>
    <script src = "/static/js/script_nav.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <script src = "/static/js/addFolder.js"></script>
    <script type="text/javascript">
{% endblock %}
