{% extends "base.html" %}
{% block navbarList %}
    <li><a href="/addFolder">الـمجـلدات</a></li>
    <li><a href="/addArchive">الارشـيف</a></li>
    <li class="active"><a href="/department">قـسم</a></li>
{% endblock %}
{% block search %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-body">
            <nav class="navbar navbar-default">
                <form class="form-inline">
                    <div class="row">
                        <div class="col-md-9">
                            <button type="button" class="btn btn-default btn-lg" disabled="disabled">البحث من</button>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <button type="button" class="btn btn-default btn-lg" disabled="disabled">إلى</button>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker3'>
                                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
    </div>
</div>
{% block backButton %}{% endblock %}
{% endblock %} <!-- end of block search-->

{% block  table %}
            <div class="  col-md-6 col-sm-6   ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="  col-md-3 col-sm-3 col-xs-3  ">
                                <font size="4" >الارشـيـف </font></a>
                            </div>
                            <div class="  col-md-8 col-sm-8 col-xs-8  ">
                                <font size="4" >الرقم الاشاري </font></a>
                                <input type="text" placeholder="البحث">
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <tr>
                            <th id="name">الاسـم</th>
                            <th id="type">النـوع</th>
                            <th id="date">التـاريـخ</th>
                            <th id="refNum">الـرقم الاشاري</th>
                            <th id="edit">عـرض</th>
                        </tr>
                        {% for arch in department %}
                            <tr>
                                <td headers="name">{{arch.name}}</td>
                                <td headers="type">{{arch.section_id.name}}</td>
                                <td headers="date">{{arch.real_date}}</td>
                                <td headers="refNum">{{arch.ref_num}}</td>
                                <td headers="edit">
                                    <a href="/editArchive/{{arch.id}}" class="btn btn btn-primary btn-xs">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>                    
                            </tr>
                        {% endfor %}
                    </table>
                </div>
    {% block pagination %}
        <nav pull-center>
            <ul class="pagination">
                <li> {% if archive.has_previous %} <a href="?page={{ department.previous_page_number }}" aria-label="Previous"> {% endif %} <span>&laquo;</span></a></li>
            
               {% for i in department.paginator.page_range %}
               
                <li>{% if department.number == i %} <li class="active"> {% endif%}<a href="?page={{i}}">{{i}} <span class="sr-only">(current)</span></a></li>
               {% endfor %}
            
                  <li>{% if department.has_next %} <a href="?page={{department.next_page_number}}" aria-label="next">{% endif %}<span>&raquo;</span></a></li>
            
            </ul>
        </nav> 
    {% endblock %} <!-- end of block pagination-->
</div>
{% endblock %}
{% block footer %}{% endblock %}