{% extends "base.html" %}
{% block departmentName %}
	<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <nav class="navbar navbar-default">
					<p class="h3">قسم إدارة البيانات</p>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% block navbarList %}
    <li><a href="../addFolder">addFolder</a></li>
    <li><a href="../addArchive">addArchive</a></li>
    <li><a href="../editArchive">editArchive</a></li>
    <li class="active"><a href="../department">department</a></li>
{% endblock %}
{% block navTwo %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1" >
			<nav class="nav navbar-default">
				
			</nav>
		</div>
	</div>
{% endblock %}

