{% extends "base.html" %}
{% block departmentName %}
	<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <nav class="navbar navbar-default">
                    <p> {{department}} </p>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% block navbarList %}
    <li><a href="/addFolder">الـمجـلدات</a></li>
    <li><a href="/addArchive">الارشـيف</a></li>
    <li class="active"><a href="/department">قـسم</a></li>
{% endblock %} 
{% block table %}
    <div class="  col-md-6 col-sm-6   ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="  col-md-3 col-sm-3 col-xs-3  ">
                        <font size="4" >الارشـيـف </font></a>
                    </div>
                    <div class="  col-md-8 col-sm-8 col-xs-8  ">
                        <font size="4" >الرقم الاشاري </font></a>
                        <input id="search" type="text" placeholder="البحث" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                    </div>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th id="name">الاسـم</th>
                    <th id="type">النـوع</th>
                    <th id="date">التـاريـخ</th>
                    <th id="refNum">الـرقم الاشاري</th>
                    <th id="edit">عـرض</th>
                </tr>
                {% for archive in department %}
                    <tr>
                        <td headers="name">{{archive.name}}</td>
                        <td headers="type">{{archive.section_id.name}}</td>
                        <td headers="date">{{archive.real_date}}</td>
                        <td headers="refNum">{{archive.ref_num}}</td>
                        <td headers="edit">
                            <a href="/editArchive/{{archive.id}}" class="btn btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>                    
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block pagination %}
    <nav pull-center>
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        </ul>
    </nav>
{% endblock %}
{% block footer %}{% endblock %}
{% block script %}

                    <script src = "/static/js/jquery-1.11.1.min.js"></script>
                    <script src = "/static/js/bootstrap.min.js"></script>
                    <script src = "/static/js/bootstrap-editable.min.js"></script>
                    <script src = "/static/js/jquery.validate.min.js"></script>
                    <script src = "/static/js/script_nav.js"></script>
                    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
                    <script type="text/javascript" src="/static/js/department.js" charset="UTF-8"></script>
                {% endblock %} <!