{% extends "base.html" %}

{% block navbarList %}
    <li><a href="../../addFolder">إضـافـة مـجـلـد جديد </a></li>
    <li><a href="../../addArchive">الارشـف</a></li>
    <li class="active"><a href="">تعديل أرشيف</a></li>
    <li><a href="../../department">قـسم</a></li>
{% endblock %}

{% block departmentName %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <nav class="navbar navbar-default">
                    <p class="h3"><strong>{{departmentName}}</strong></p>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block search %}{% endblock %}

{% block backButton %}
    <row class="col-md-8 col-md-offset-2">
        <a href="" class="btn btn-primary pull-left" href="#{url}" type="button">
            رجـــــوع
        </a> 
    </row>
{% endblock %}

{% block table %}
    <div class="  col-md-6 col-sm-6 ">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 ">
                <button id="enable" class="btn btn-primary" >
                    تمكــين / تعطـــيل
                </button>
            </div>
            <div class="  col-md-6 col-sm-6 col-xs-6  ">
                <button id="delete" class="btn btn-danger pull-right" href='#del' data-toggle='modal'  data-target="#del" value="{{archive.id}}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <div class="  col-md-2 col-sm-2 col-xs-2  ">

            </div>
            <table id="tableEditArchive" class="table table-bordered " style='clear: both'>
                <tbody>
                    <tr>
                        <td width='35%'>اسم الارشيف</td>
                        <td width='65%'>
                            <a href="#" id="name" data-type='text' data-pk='{{archive.id}}' data-title='اسم الارشيف' data-value='{{archive.name}}' data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                                {{archive.name}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width='35%'> تاريخ الارشيف</td>
                        <td width='65%'>
                            <a href="#" id="real_date" data-type="datetime" data-pk="{{archive.id}}" title="Select date and time"  data-value='{{archive.real_date}}' data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                                {{archive.real_date}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width='35%'>الرقم الاشاري</td>
                        <td width='65%'>
                            <a href="#" id="ref_num" data-type='text' data-pk='{{archive.id}}' data-title='الرقم الاشاري' data-value='{{archive.ref_num}}' data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                                {{archive.ref_num}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width='35%'>الوصف</td>
                        <td width='65%'>
                            <a href="#" id="textarea" data-type='textarea' data-pk='{{archive.id}}' data-title='الوصف' data-value='{{archive.text}}' data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                                {{archive.text}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width='35%'> النوع</td>
                        <td width='65%'>
                            <a href="#" id="type" data-type="select" data-pk="{{archive.section_id.id}}"  data-title="Select status" data-value="{{archive.section_id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                                {{archive.section_id.name}}
                            </a>
                        </td>
                    </tr>
                    <input type="hidden" value="{{archive.department_id.id}}" id="idDept" >
                </tbody>
            </table>
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="  col-md-3 col-sm-3 col-xs-3  ">
                                <font size="4" >الملفات </font></a>
                            </div>
                            <div class="  col-md-6 col-sm-6 col-xs-6"></div>
                            <div class="  col-md-3 col-sm-3 col-xs-3  ">
                               <a href="#addFile" role="button" data-toggle="modal" class="btn btn-success">إضافة ملف</a>
                            </div>
                            
                        </div>
                    </div>
            <table id="FILE" style="clear: both" class="table table-bordered table-striped">
              <tbody>
                {% for fil in files%}
                    <tr id="file{{fil.id}}">
                      <td width="55%"><a href="/{{fil.path}}">{{fil.name}}</a> </td>
                      <td width="10%">
                        <button id="deletefil" data-toggle="modal" value="{{fil.id}}" data-target="#codeletefil" data-placement="top" rel="tooltip" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"> </span></button>
                      </td>
                    </tr>
                {%endfor%}
              </tbody>
            </table>
        </div>
        </div>
        {% block pagination %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block modaleDelete %}
    <div  id="codeletefil" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-headr modal-header-danger">
                    <p class="h1">هل أنت متأكد من  حدف ؟</p>
                  </div>
                  <div class="modal-body">
                    <p class="h2">هل انت متأكد </p>
                    <p> </p>
                  </div>
                  <div class="modal-footer">
                    <button id="fildelet" type="button" data-dismiss="modal" class="btn btn-danger" value="">حدف</button>
                    <button data-dismiss="modal" type="button" class="btn btn-success">إلغاء</button>
                  </div>
                </div>
              </div>
    </div>
    <div  id="del" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
       <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-headr modal-header-danger">
                    <p class="h1">هل أنت متأكد من  حدف ؟</p>
                  </div>
                  <div class="modal-body">
                    <p class="h2">هل انت متأكد </p>
                    <p> </p>
                  </div>
                  <div class="modal-footer">
                    <button id="dle" type="button" data-dismiss="modal" class="btn btn-danger" value="{{archive.id}}">حدف</button>
                    <button data-dismiss="modal" type="button" class="btn btn-success">إلغاء</button>
                  </div>
                </div>
              </div>
    </div>
    <div  id="addFile" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-headr modal-header-success">
                    <p class="h1">اضافة ملف</p>
                  </div>
                  <div class="modal-body">
                    <form role="form" id="form" action="/addFile/" method="post" enctype="multipart/form-data">{% csrf_token %}
                        
                        <div class="form-group multiple-form-group input-group file">
                        <input type="file" name="file[]" class="form-control" >
                        <input type="text" name= "file_name[]" class="form-control" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-add">+</button>
                        </span>
                            </div>
                            <input type="hidden" value="{{archive.id}}" name="archive_id">
                        <input type="submit" value="حــــفظ" class="btn btn-primary ">
                    </form>
                  </div>
                 
                </div>
              </div>
    </div>
{% endblock %}
 
{% block script %}
    <script src = "/static/js/jquery-1.11.1.min.js"></script>
    <script src = "/static/js/bootstrap.min.js"></script>
    <script src = "/static/js/bootstrap-editable.min.js"></script>
    <script src = "/static/js/jquery.validate.min.js"></script>
    <script src = "/static/js/script_nav.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <script src = "/static/js/Multiple.js"></script>
    <script src = "/static/js/editArchive.js"></script>
{% endblock %}
