{% extends "base.html" %}
{% block departmentName %}
	<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <nav class="navbar navbar-default">
					<p class="h3">{{department.name}}</p>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% block table %}{% endblock %}
{% block pagination %}{% endblock %}
{% block buttonList %}{% endblock %}
{% block navbarList %}
    <li><a href="../addFolder">إضـافـة مـجـلـد جديد </a></li>
    <li><a href="../addArchive">addArchive</a></li>
    <li><a href="../department">department</a></li>
{% endblock %}
