{% extends "base.html" %}
{% block departmentName %}
{% endblock %}
{% block navbarList %}
    <li><a href="/addFolder/{{dept_id}}">إضافة مجلد</a></li>
    <li><a href="/addArchive/{{dept_id}}">الارشـيف</a></li>
    <li class="active"><a href="/department/{{dept_id}}">قـسم</a></li>
{% endblock %} 
{% block search %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-body">
            <nav class="navbar navbar-default">
                <form class="form-inline">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default btn-lg" disabled="disabled">البحث من</button>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker5'>
                                    <input type='text' class="form-control" format="yyyy-mm-dd" id="start_date" placeholder="من"data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker6'>
                                    <input type='text' class="form-control" data-format="yyyy-mm-dd" id="end_date" placeholder="إلى"data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" value="{{end_date}}"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                        <div class="input-group-btn">
                                            <div id="date" type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </div>
                                         </div>
                                </div>
                            </div>
                    </div>
                </form>
            </nav>
        </div>
    </div>
</div>
{% block backButton %}{% endblock %}
{% endblock %} <!-- end of block search-->
{% block  table %}
            <div class="  col-md-6 col-sm-6   ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="  col-md-3 col-sm-3 col-xs-3  ">
                                <font size="4" >الارشـيـف </font></a>
                            </div>
                            <div class="  col-md-8 col-sm-8 col-xs-8  ">
                                <font size="4" >الرقم الاشاري </font></a>
                                <div  class="input-group panel-title pull-right col-xs-6">
                                <input id="query" type="text" placeholder="البحث"data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" value="{{q}}" class="form-control">
                                <input type="hidden" value="{{dept_id}}" id="dept_id">
                              <div class="input-group-btn">
                                <div id="search" type="button" class="btn btn-default">
                                  <spen class="glyphicon glyphicon-search"></spen>
                                </div>
                              </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <tr>

                            <th id="name">الاسـم</th>
                            <th id="type">النـوع</th>
                            <th id="date">التـاريـخ</th>
                            <th id="refNum">الـرقم الاشاري</th>
                            <th id="edit">عـرض</th>
                        </tr>
                        {% for arch in archive %}
                            <tr>
                                <td headers="name">{{arch.name}}</td>
                                <td headers="type">{{arch.section_id.name}}</td>
                                <td headers="date">{{arch.real_date}}</td>
                                <td headers="refNum">{{arch.ref_num}}</td>
                                <td headers="edit">
                                    <a href="/editArchive/{{arch.id}}" class="btn btn btn-primary btn-xs">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>                    
                            </tr>
                        {% endfor %}
                    </table>
                </div>
    {% block pagination %}
        <nav pull-center>
            <ul class="pagination">
                <li> {% if archive.has_previous %} <a href="?page={{ archive.previous_page_number }}&q={{q}}" aria-label="Previous"> {% endif %} <span>&laquo;</span></a></li>
            
               {% for i in archive.paginator.page_range %}
               
                <li>{% if archive.number == i %} <li class="active"> {% endif%}<a href="?page={{i}}&q={{q}}">{{i}} <span class="sr-only">(current)</span></a></li>
               {% endfor %}
            
                  <li>{% if archive.has_next %} <a href="?page={{archive.next_page_number}}&q={{q}}" aria-label="next">{% endif %}<span>&raquo;</span></a></li>
            
            </ul>
        </nav> 
    {% endblock %} <!-- end of block pagination-->
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block script %}

                     <script src = "/static/js/jquery-1.11.1.min.js"></script>
                    <script src = "/static/js/bootstrap.min.js"></script>
                    <script src = "/static/js/bootstrap-editable.min.js"></script>
                    <script src = "/static/js/jquery.validate.min.js"></script>
                    <script src = "/static/js/script_nav.js"></script>
                    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
                    <script type="text/javascript" src="/static/js/folder.js" charset="UTF-8"></script>
                    {% if start_date != '' %}
                    <script type="text/javascript">
                    $(document).ready(function(){
                        $('#datetimepicker5').datetimepicker('update', new Date('{{start_date}}'));
                        $('#datetimepicker6').datetimepicker('update', new Date('{{end_date}}'));
                        });
                    </script>
                    {%endif%}
                {% endblock %} <!
