{% extends "base.html" %}
{% block navbarList %}{% endblock %}
{% block search %}{% endblock %}
{% block rowOne %}
 	{% block list %}{% endblock %}

    	{% block table %}
    	 				<div class='row'>
                              <div 	class="col-md-3 col-sm-2 col-xs-1"></div>
                            <div class="col-md-6 col-sm-8 col-xs-10">
                                <div class="panel panel-default table-responsive">
                                    <div class="panel-heading panel-responsive">
                                        <div class="row">
                                            <div class="  col-md-3 col-sm-3 col-xs-3  ">
                                                <font size="4" >المستخدمين </font></a>
                                            </div>
                                            <div class="  col-md-6 col-sm-6 col-xs-6 ">
                                              
                                            </div>
                                            <div class="  col-md-2 col-sm-2 col-xs-2  ">
                                                <a href="#addUser" role="button" data-toggle="modal" class="btn btn-success">إضافة مستخدم</a>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <th id="username">إسم المستخدم</th>
                                            <th id="email">البريد اﻹلكتروني</th>
                                            <th id="type">النوع</th>
                                            <th id="section">القسم</th>
                                            <th id="edit">عـرض</th>
                                            
                                        </tr>
                                        {% for user in users %}
                                        <tr>
                                            <td headers="username">{{user.username}}</td>
                                            <td headers="email">{{user.email}}</td>
                                            <td headers="type">
                                                {% if user.is_staff %} مدير {% else %} مستخدم {% endif %}
                                            </td>

                                            <td headers="section">{{user.employee.department_id.name}}</td>
                                            <td headers="edit">
					                            <a href="editUser/{{user.id}}" class="btn btn btn-primary btn-xs">
					                                <span class="glyphicon glyphicon-eye-open"></span>
					                            </a>
					                        </td>   
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                {% block pagination %}
                                    <nav pull-center>
                                        <ul class="pagination">
                                         {% if users.has_previous %}
                                            <li> <a href="?page={{ users.previous_page_number }}" aria-label="Previous"><span>&laquo;</span></a></li>
                               	        {% endif %}
                                	       {% for i in users.paginator.page_range %}
                                	       
                                            <li>{% if users.number == i %} <li class="active"> {% endif%}<a href="?page={{i}}">{{i}} <span class="sr-only">(current)</span></a></li>
                                	       {% endfor %}
                        		        {% if users.has_next %}
                              		          <li> <a href="?page={{users.next_page_number}}" aria-label="next"><span>&raquo;</span></a></li>
                               	        {% endif %}
                                        </ul>
                                    </nav> 
                                {% endblock %} <!-- end of block pagination-->
                            </div>
                            <div 	class="col-md-3 col-sm-2 col-xs-1"></div>
                        </div>

                        <div id="addUser" data-width="760" role="dialog" aria-labelledby="myModalLabel" tabindex="-1" aria-hidden="true" class="modal fade">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-headr modal-header-success">
				        <p class="h1">اضافة مستخدم</p>
				      </div>
				      <div class="modal-body">
				        <div class="panel-body">
				          <div class="table-responsive">
				            <div class="panel-body">
			    		<form role="form" id="form" action="/addUser/" method="post">{% csrf_token %}
			    				<div class="form-group">
			    				<input type="text" name="username" id="username" class="form-control input-sm" placeholder="اسم المستخدم">
			    			</div>
			    			<div class="row">

			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="الأسم">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="اللقب">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="البريد الأكتروني ">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="الرقم السري">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="إعادة الرقم السري ">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<select name="usertype" id="usertype" class="form-control input-sm" placeholder="الأدارة">
			    							<option ></option>
			    							<option value="0">مدير</option>
			    							<option value="1">مستخدم</option>
										</select>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<select name="deptname" id="deptname"  class="form-control input-sm" placeholder="الأدارة">
			    							{% for dep in department %}
			    							<option value="{{dep.id}}">{{dep.name}}</option>
                                            
                                        	{% endfor %}

										</select>
			    					</div>
			    				</div>
			    			
			    			<input type="submit" value="تســــــجيل" class="btn btn-primary btn-block">
			    		
			    		</form>
			    	</div>
				          </div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button data-dismiss="modal" type="button" class="btn btn-success">إلغاء</button>
				      </div>
				    </div>
				  </div>
				</div>
                            {% endblock %} <!-- end of block table-->
{% endblock %}

{% block footer %}{% endblock %}
{% block script %}
                    <script src = "/static/js/jquery-1.11.1.min.js"></script>
                    <script src = "/static/js/bootstrap.min.js"></script>
                    <script src = "/static/js/bootstrap.bootstrap-editable.js"></script>
                    <script src = "/static/js/jquery.validate.min.js"></script>
                    <script src = "/static/js/script_nav.js"></script>
                    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
                    <script type="text/javascript" src="../js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
                    <script type="text/javascript" src="/static/js/users.js" charset="UTF-8"></script>
                {% endblock %} <!
